<div class="content">
    <h1>
        listado de pokemon
    </h1>
    <form [formGroup]="formSearch" class="row">
        <div class="col_3">
            <div class="row border">
                <div class="col_3"></div>
                <div class="col_9">
                    <input type="text"  formControlName="seach">
                </div>
            </div>
        </div>
        <div class="col_9 alignBtn">
            <button class="btn new">Nuevo</button>
        </div>
    </form>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Imagen</th>
                <th>Ataque</th>
                <th>Defensa</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>sdfsd</td>
                <td>sdf</td>
                <td>sdf</td>
                <td>sdf</td>
                <td>sdf</td>
            </tr>
        </tbody>
    </table>    
</div>
