<div class="content">
    <h1>listado de pokemon</h1>
    <br>
    <form [formGroup]="formSearch" class="row">
        <div class="col_3">
            <div class="row border">
                <div class="col_3 center">
                    <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
                </div>
                <div class="col_9">
                    <input type="text" placeholder="Buscar" formControlName="search" class="no_border">
                </div>
            </div>
        </div>
        <div class="col_9 alignBtn">
            <button class="btn new" (click)="newPokemon()" *ngIf="!activeForm">
                <fa-icon [icon]="faPlus"></fa-icon>
                Nuevo
            </button>
        </div>
    </form>
    <br>
    <section class="row">
        <table class="col_12">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Imagen</th>
                    <th>Ataque</th>
                    <th>Defensa</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of rows">
                    <td>{{row.name}}</td>
                    <td>
                        <img [src]="row.image" [alt]="row.name">
                    </td>
                    <td>{{row.attack}}</td>
                    <td>{{row.defense}}</td>
                    <td class="accionsTable">
                        <fa-icon [icon]="faPen" (click)="edithRow(row)"></fa-icon>
                        <fa-icon [icon]="faTrashCan" (click)="deleteRow(row)"></fa-icon>
                    </td>
                </tr>
            </tbody>
        </table>        
    </section>
    <br>
    <section class="row border" *ngIf="activeForm">
        <app-form-pokemon  [row]="rowSelected" (closeEvent)="receiveClose($event)" (sendEvent)="receiveData($event)"></app-form-pokemon>
    </section>
</div>
