.alignBtn{
    text-align: end;
    min-height: 48px;
}
table{
    width: 100%;
    border-collapse: collapse;
    td,th{
        border: 1px solid #cbccd0;
        padding: 5px 10px;
        box-sizing: border-box;
        img{
            width: 50px;
            height: auto;
            display: block;
            margin: 0 auto;
        }
    }
}
.accionsTable{
    text-align: center;
    color: #6459ef;
    fa-icon{
        margin: 0 10px;
        cursor: pointer;
    }
}
.no_border{
    border: none;
}