.alignBtn{
    text-align: end;
}
table{
    width: 100%;
    border-collapse: collapse;
    td,th{
        border: 1px solid #cbccd0;
        padding: 5px 10px;
        box-sizing: border-box;
    }
}