h1{
    text-align: center;
}
.flex{
    display: flex;
}
.flex_center{
    align-items: center;
    span{
        min-width: 30px;
        display: block;
    }
}
.btn_form{
    button{
        margin: 0 10px ;
    }
}